@import "../../assets/variables";

/* Styles */
html {
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(248, 248, 248);
}

header {
  display: block;

  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  & > div {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;

    * {
      letter-spacing: 0.4px;
    }
  }
}

li {
  margin-bottom: 0.5rem;
}

.btn-circle {
  border-radius: 25px;
  padding: 0;
  width: 45px;
  /* border: 1px solid black; */
  height: 45px;
  text-align: center;
  border-color: lightgrey;

  &:hover,
  &:focus {
    border-color: $orange-theme;
    transition: border-color 0.5s ease-in;
  }

  &:hover svg path {
    fill: $orange-theme;
    transition: fill 0.5s ease-in;
  }

  svg {
    height: 1.75rem;
    width: 1.75rem;
    fill: $grey-theme;
  }
}

.header-headshot {
  width: 44px;
  height: 50px;
}

.header-left__text {
  position: relative;
  line-height: 3rem;
}

.header-left__text--orange {
  color: $orange-theme;

  background-image: linear-gradient(
    25deg,
    $orange-theme 25%,
    #ffdaa2 37.5%,
    white,
    #f7e0ae 62.5%,
    $orange-theme 75%
  );

  background-position: right center;
  background-size: 400% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 200ms linear;

  &:hover {
    background-position: left center;
    transition: background-position 1000ms ease-out;
    color: white; //fallback
  }
}

.header-left__text--black-enlarged {
  color: $grey-theme;
  font-size: 3.05rem;
  position: absolute;
  right: 3.7rem;
  bottom: 2px;
}

.header-email {
  display: inline-block;

  a {
    text-decoration: none;
    color: $grey-theme;
  }

  &:hover,
  &:focus {
    a {
      color: $orange-theme;
      transition: color 0.5s ease-in;
    }

    .btn-circle {
      border-color: $orange-theme;
      transition: border-color 0.5s ease-in;

      svg {
        fill: $orange-theme;
        transition: fill 0.5s ease-in;
      }
    }
  }
}

footer {
  display: block;
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.body-container {
  margin: 0 auto;
}

.description-container {
  max-width: 750px;
  padding: 2rem;

  img {
    width: 80%;
  }
}

.project-container {
  padding: 2rem;
  margin-bottom: 1rem;
  width: 100%;

  & > div {
    margin-bottom: 1rem;
  }

  @media (min-width: $screen-desktop) {
    width: 950px;
  }

  @media (max-width: $screen-mobile) {
    padding: 1rem;

    & > div {
      padding: 0;
    }
  }
}
