/* Variables */
$orange-theme: #ff745cef;
$grey-theme: rgb(85, 85, 85);

$screen-desktop: 992px;
$screen-tablet: 768px;
$screen-mobile: 767px;

/* Styles */
html {
  font-family: sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(248, 248, 248);
}

header {
  display: block;

  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  & > div {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;

    * {
      letter-spacing: 0.4px;
    }
  }
}

.btn-circle {
  border-radius: 25px;
  padding: 0;
  width: 45px;
  /* border: 1px solid black; */
  height: 45px;
  text-align: center;
  border-color: lightgrey;

  &:hover,
  &:focus {
    border-color: $orange-theme;
    transition: border-color 0.5s ease-in;
  }

  &:hover svg path {
    fill: $orange-theme;
    transition: fill 0.5s ease-in;
  }

  svg {
    height: 1.75rem;
    width: 1.75rem;
    fill: $grey-theme;
  }
}

.header-left__text--orange {
  color: $orange-theme;

  background-image: linear-gradient(
    90deg,
    $orange-theme 25%,
    #fde071 37.5%,
    white,
    #f7e0ae 62.5%,
    $orange-theme 75%
  );

  background-position: right center;
  background-size: 400% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: color 200ms linear;

  &:hover {
    background-position: left center;
    transition: background-position 2000ms ease-out;
    color: white; //fallback
  }
}

.header-left__text--black-enlarged {
  color: $grey-theme;
  font-size: 2.7rem;
  margin-left: -5px;
  margin-right: -5px;
}

.header-email {
  text-decoration: none;
  color: $grey-theme;
}

footer {
  display: block;
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.body-container {
  margin: 0 auto;
}

.description-container {
  // background-color: white;
  // border: 2px solid $grey-theme;
  max-width: 750px;
  padding: 2rem;
}

.project-container {
  padding: 2rem;
  margin-bottom: 1rem;
  width: 100%;

  & > div {
    margin-bottom: 1rem;
  }

  @media (min-width: $screen-desktop) {
    width: 950px;
  }

  @media (max-width: $screen-mobile) {
    padding: 1rem;

    & > div {
      padding: 0;
    }
  }
}
